*{
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}
body{
  margin: 0;
}
a{
  color: #fff;
  font-size: 22px;
  text-decoration: none;
}
p{
  font-size: 18px;
  text-align: justify;
}
.dotted-hr{
  text-align: center;
  border: 3px dotted white;
  border-bottom: none;
  width: 100px;
}
h2{
  text-align: center;
}
/* ======================= Navbar Design Start============================ */
.navbar{
  background-color: cadetblue;
  text-align: center;
  padding: 1% 7%;
}
.navbar::after{
  content: '';
  display: block;
  clear: both;
}
.nav-headding h1{
  color: #fff;
  margin: 0;
  padding-top: 10px;
}
[class*="col-"]{
  float: left;
  padding: 10px;
}
[class*="col-"]{
  width: 100%;
}
.nav-menu{
  display: flex;
  flex-direction: column;
}
.navbar a{
  
  margin: 1% 7%;
  padding: 10px 0;
  background-color: rgb(3, 112, 116);
  border-radius: 10px;
  text-transform: uppercase;
}
.navbar a:hover{
  background-color: rgb(36, 56, 57);
}

/* ======================= Navbar Design end============================ */

/* =======================Profile Design Start============================ */

.profile{
  text-align: center;
  padding: 130px 80px;
  position: relative;
}
.profile-des h1{
  font-family: 'Satisfy', cursive;
  font-size: 45px;
}
.profile-des p{
  color: gray;
  text-align: center;
  width: 90%;
  margin: 0 auto 20px auto;
}
.top-weather-image{
  position: absolute;
  right: 60px;
  top: 20px;
  transition: transform 2s;
}
.top-weather-image:hover{
  transform: rotate(360deg);
}
.bottom-weather-image{
  position: absolute;
  left: 60px;
  bottom: 20px;
  transition: transform 2s;
}
.bottom-weather-image:hover{
  transform: rotate(360deg);
}
.profile::after{
  content: '';
  display: block;
  clear: both;
}

/* ======================= Navbar Design End============================ */

/* About Me Design Start */

.aboutme{
  background-color: teal;
  text-align: center;
  color: #fff;
  padding: 1% 7%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.aboutme-image img{
  width: 220px;
  height: 200px;
  border-radius: 50%;
  margin: 20px auto;
  border: 1px solid #fff;
}
.aboutme-desc p{
  text-align: center;
}
.cv-button{
  border: none;
  padding: 10px;
  border-radius: 12px;
  background-color: black;
  color: #fff;
  margin: 10px 0;
  cursor: pointer;
}


.aboutme::after{
  content: '';
  display: block;
  clear: both;
}


/* About Me Design End */

/* Professional Experience Design Start */

.Professional-experience{
  padding: 1% 0%;
}
.Professional-experience .card{
  background-color: rgb(168, 159, 159);
  transition: 0.3s;
  padding: 10px;
  border-radius: 10px;
  height: 800px;
}
.card:hover{
  box-shadow: 0px 4px 8px black;
}
.card-img{
  text-align: center;
}
.card-img img{
  
  margin-top: 20px; 
  width: 100px;

}
.rounded-design{
  border: 5px solid #fff;
  border-radius: 50%;
  padding: 15px;
}
.card-title h2{
  color: #fff;
  background-color: rgb(77, 74, 74);
  padding: 5px;
}



.skills-container li{
  list-style: none;
  margin: 30px 10px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}
.skills-container li::before{
  content: '';
  position: absolute;
  background: rgb(149, 179, 254);
  width: 100%;
  height: 10px;
  top: calc(100% + 5px);
  left: 0;
  border-radius: 1000px;
  padding: 3px 0;
 
}
.skills-container li::after{
  content: '';
  position: absolute;
  background: linear-gradient(to right,cadetblue,coral,lightseagreen);
  width: 0;
  height: 10px;
  top: calc(100% + 5px);
  left: 0;
  border-radius: 1000px;
  padding: 3px 0;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
 
.skills-container .html::after{
  animation-name: html;
}
@keyframes html{
  to{
    width: 90%;
  }
}
.skills-container .css::after{
  animation-name: css;
}
@keyframes css{
  to{
    width: 80%;
    background: linear-gradient(to right,red, green,blue,yellow);
  }
}
  .skills-container .bootstrap::after{
    animation-name: bootstrap;
  }
  @keyframes bootstrap{
    to{
      width: 100%;
      background: orange;
    }
  }

.skills-container .js::after{
  animation-name: js;
}
@keyframes js{
  to{
    width: 50%;
    background: cadetblue;
  }
}
.skills-container .jquery::after{
  animation-name: jquery;
}
@keyframes jquery{
  to{
    width: 90%;
    background: rgb(3, 229, 237);
  }
}
.skills-container .node::after{
  animation-name: node;
}
@keyframes node{
  to{
    width: 90%;
    background: rgb(1, 19, 20);
  }
}
.skills-container .express::after{
  animation-name: express;
}
@keyframes express{
  to{
    width: 60%;
    background: rgb(4, 17, 250);
  }
}
.skills-container .git::after{
  animation-name: git;
}
@keyframes git{
  to{
    width: 70%;
    background: rgb(255, 26, 156);
  }
}
.skills-container .react::after{
  animation-name: react;
}
@keyframes react{
  to{
    width: 95%;
    background: rgb(217, 236, 9);
  }
}
.Professional-experience::after{
  content: '';
  display: block;
  clear: both;
}

/* Professional Experience Design End */

/* Achievement Contact Start */
.achievementcontact{
  background:cadetblue;
  padding: 1% 7%;
  color: #fff;
  
}
.contact{
  text-align: center;
  
}
.contact input,textarea{
  width: 100%;
  font-size: 1rem;
  padding: 10px ;
  text-align: center;
  resize: none;
  color: #fff;
  border-radius: 5px;
  border: none;
}
.contact button{
  border: none;
  background-color: #000;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  width: 100px;
  cursor: pointer;
  
}
.More-contact{
  text-align: center;
}
.More-contact .btn{
  border: none;
  font-size: 32px;
  cursor: pointer;
  margin: 10px;
  border-radius: 25px;
  padding: 10px;
  transition: all 0.5s;
  
}
.More-contact .btn:hover{
  background-color: gray;
  transform: scale(1.2,1.3);
}


.achievementcontact::after{
  content: '';
  display: block;
  clear: both;
}

/* Achievement Contact End */

/* Footer Design Start */

.footer{
  background-color: black;
  color: #fff;
  text-align: center;
}
.footer-menu{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.footer-menu a{
  text-decoration: none;
  margin: 15px 0;
  display: block;
  font-size: 20px;
  transition: all 0.3s ;
}
.footer-menu a:hover{
  background-color: gray;
}

.footer::after{
  content: '';
  display: block;
  clear: both;
}
/* Footer Design end */


